@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-900;
  }
  #__next {
    @apply flex flex-col max-w-4xl min-h-screen mx-auto;
  }
  header {
    @apply sticky top-0 z-10 p-6 bg-white dark:bg-gray-900;
  }
  nav {
    @apply flex items-center justify-between gap-4;
  }
  footer {
    @apply sticky bottom-0 flex items-center justify-between gap-4 p-6 bg-white dark:bg-gray-900;
  }
  main {
    @apply flex flex-col flex-1 gap-6 px-6;
  }
  h1 {
    @apply font-semibold text-gray-700 transition-colors cursor-pointer dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100;
  }
  p {
    @apply text-gray-700 dark:text-gray-200;
  }
  svg {
    @apply w-5 h-5 text-gray-700 transition-colors cursor-pointer dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100;
  }
}

@layer components {
  .menu-item {
    @apply px-6 py-3 text-gray-700 transition-colors cursor-pointer dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-700;
  }
  .link {
    @apply font-medium text-gray-700 underline transition-colors hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-100;
  }
  .footer-link {
    @apply text-gray-400 transition-colors dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400;
  }
}
